#!/bin/sh

# locker
xss-lock --ignore-sleep -n ~/bin/dim -- slock &

# blank screen after 5 minutes
xset s 300 0

# set root cursor
xsetroot -cursor_name left_ptr

# make sure eventd has a display
eventdctl nd switch xcb $DISPLAY

# our notification daemon
$HOME/.config/eventd/scripts/daemon &

# prevent screensaver during fullscreen
noscr &

# auto-mount USB drives
udiskie -2naT &

# wallpaper
feh --bg-scale --randomize ~/Pictures/Wallpapers/*/*.jpg

# start some services
compton -b --config ~/.config/compton/compton.conf
/opt/Enpass/bin/runenpass.sh startWithTray &
megasync &
killmegapopup &
