#!/bin/sh

# locker
xss-lock -n ~/bin/dim -- slock &

# blank screen after 5 minutes
xset s 300 0

# prevent screensaver during fullscreen
noscr &

# auto-mount USB drives
udiskie -2naT &

# wallpaper
feh --bg-scale --randomize ~/Pictures/Wallpapers/*/*.jpg

# start some services
compton -b --config ~/.config/compton/compton.conf
/opt/Enpass/bin/runenpass.sh startWithTray &
megasync &
killmegapopup &
